
@import "./../common/common.less";


.page-content{
	padding-bottom: 95px;
	&>div{
		float: left;
	}
	.home-swiper-container{
		position: relative;
		width: 100%;
		height: 400px;
		top: 0px;
		left: 0px;
	}
	.home-seach{
		position: relative;
		width: 100%;
		height: 400px;
		top: 0px;
		left: 0px; 
	}
	.home-topics-container{
		position: relative;
		top: 0px;
		left: 0px;
		width: 100%;
		height: auto;
		background: rgb(246, 246, 246);
		.home-menu-wrapper{
			float: none;
			margin: 32px auto;
			overflow: hidden;
			width: 408px;
			padding: 10px 0px;
			background: rgb(255, 255, 255);
			.home-menu-item{
				float: left;
				width: 33.3%;
				margin-left: -1px;
				border-left: 1px solid rgb(210, 210, 210);
				.home-a-text{
					padding: 2px 0px;
					.a-text();
					display: inline-block;
					font-size: 16px;
					text-align: center;
					width: 100%;
				}
			}
			.active{
				a{
					color: rgb(234, 78, 77) !important;
				}
			}
		}
		.home-wrappers{
			width: 740px;
			height: auto;
			margin: 0px auto;
			padding-bottom: 36px;
			&>ul{
				width: 750px;
				height: auto;
				margin: -10px 0px 0px -10px;
				a{
					display: block;
					width: 100%;
					height: 100%;
					img{
						width: 100%;
						height: 100%;
						display: block;
					}
				}
			}
		}
		.home-topics-wrapper{
			.home-topics-content{
				.home-topics-box{
					width: 240px;
					height: 160px;
					overflow: hidden;
					float: left;
					margin: 10px 0px 0px 10px;					
				}	
			}
		}
		.home-recommend-wrapper{
			.home-recommend-content{
				.home-recommend-box{
					position: relative;
					width: 177.5px;
					height: 200px;
					overflow: hidden;
					float: left;
					margin: 10px 0px 0px 10px;
					span{
						display: inline-block;
					}
					.box-cover{
						position: absolute;
						top: 0px;
						left: 0px;
						width: 100%;
						height: 100%;
						background: url("/images/pc/home/cover_bg.png");
						.box-cover-title{
							position: relative;
							width: 100%;
							font-size: 16px;
							color: rgb(255, 255, 255);
							font-weight: 400;
							text-align: center;
							padding-top: 90px;
						}
						.box-cover-price{
							padding-top: 10px;
							font-size: 16px;
							color: rgb(255, 255, 255);
							font-weight: 400;
							position: relative;
							width: 100%;
							&>span{
								padding: 7px 24px;
							}
						}
						.box-cover-like{
							display: inline-block;
							position: absolute;
							right: 20px;
							top: 20px;
							width: 25px;
						}
					}
				}
			}
		}
		.home-hot-wrapper{
			.home-hot-content{
				.home-hot-box{
					position: relative;
					width: 365px;
					height: 240px;
					overflow: hidden;
					float: left;
					margin: 10px 0px 0px 10px;
					span{
						display: inline-block;
					}
					.home-hot-cover{
						position: absolute;
						top: 0px;
						left: 0px;
						width: 100%;
						height: 100%;
						display: inline-block;
						.home-hot-board{
							position: absolute;
							bottom: 0px;
							left: 0px;
							width: 100%;
							height: 100%;
							.home-hot-title{
								color: rgb(255, 255, 255);
								font-size: 18px;
								font-weight: bold;
								margin: 155px 10px 0px 10px;
								line-height: 24px;
							}
							.home-hot-info{
								margin: 0px 10px;
								&>span{
									float: left;
									width: 90px;
								}
								.home-scan{
									padding-top: 10px;
									float: left;
									.home-hot-scan{
										float: left;
										width: 19px;
										height: 12px;
									}
									.scan-count{
										float: left;
										color: rgb(255, 255, 255);
										padding: 2px 6px;
									}
									.home-hot-comments{
										float: left;
										width: 16px;
										height: 14px;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}