@import "../components/product.less";

.container{
    .container;

    .topic-wrap{
        .container-left;
    }
}

.product-list{
    .product{
        .product;
    }
}

.topic{
    .pic{
        width: 100%;
    }

    .title{
        font-size: 16px;
        font-weight: 900;
        margin-top: 23px;
        font-family: "SimHei";
    }

    .info{
        @info-item-left: 18px;
        font-size: 12px;
        line-height: 15px;
        margin-top: 20px;
        margin-left: -@info-item-left;

        .num{
            margin-left: 3px;
            line-height: 14px;
        }

        &>span{
            margin-left: @info-item-left;
        }
    }

    .desc{
        color: #333333;
        font-size: 14px;
        line-height: 26px;
        margin-top: 16px;
    }
}