
@import "../components/define.less";
@import "../components/container.less";
@import "../components/post_info/post_info.less";
@import "../components/comment/comment.less";

.container{
    .container;

    .container-left{
        .container-left;
        .topic-wrap{
            margin-top: 0px;
        }
    }
}

.post-common;

.comment-common;

.topic-top{
    position: relative;
    .topic-tag-bg{
        width: 100%;
        display: block;
    }
    .topic-tag{
        top: 18px;
        left: 18px;
        color: white;
        font-size: 18px;
        position: absolute;
    }
}

.topic{
    .title{
        font-size: 18px;
        font-weight: 800;
        line-height: 30px;
        margin-top: 6px;
    }
    .info{
        @info-item-left: 18px;
        font-size: 12px;
        line-height: 15px;
        margin-top: 12px;
        margin-left: -@info-item-left;
        .date{
            color: #adadad;
            margin-left: 20px;
        }    
        .num{
            margin-left: 3px;
            line-height: 14px;
        }

        &>span{
            margin-left: @info-item-left;
        }
    }
    .topic-content{
        @font-size: 14px;
        color: #777777;
        font-size: @font-size;
        line-height: 26px;
        overflow: hidden;
        margin-top: 20px;
        margin-bottom: 35px;
        padding-bottom: 25px;
        border-bottom: solid @color-red 2px;
        word-wrap: break-word;
        & > p{
            margin-top: 3px;
            margin-bottom: 8px;
            text-indent: @font-size * 2;
        }
    }
}