
@line-height: 60px;

.box-sizing(@value: border-box){
	box-sizing: @value;
	-webkit-box-sizing: @value;
	-moz-box-sizing: @value;
	-o-box-sizing: @value;
	-ms-sizing: @value;
}

.font-style(@font-size: 16px, @font-weight: 500,@color: rgb(194, 194, 194), @font-family: "heiti"){
	font-size: @font-size;
	font-weight: @font-weight;
	color: @color;
	font-family: @font-family;
}

.btn(@bgColor: white, @border: 1px solid rgb(247, 57, 57)){
	.box-sizing();
	display: block;
	width: 100%;
	line-height: 50px;
	background-color: @bgColor;
	border: @border;
}