@import "./../../common/common.less";
html{
	font-size: 10px;
}

@font-color:#333;

.topic-img{
	width: 100%;
}

.topic-title{
	padding-top: 1%;
	padding-left:  1%;
	font-size: 1.3rem;
	color: @font-color;
	font-weight: bolder;
}

.topic-content{
	padding-top: 2%;
	padding-left:  1.8%;
	padding-bottom: 1.8%;
	font-size: 1rem;
	color: @font-color;
	line-height: 1.8rem;
	// line-height: 20px;
}

.gift-title{
	padding-top: 2%;
	padding-left:  2%;
	font-size: 1.3rem;
	color: @font-color;
	// font-weight: bold;
}

.gift-title .ititle-title{
	// height: 13px;
	// line-height: 13px;
	font-size: 1.3rem;
	text-align: center;
	vertical-align:2px;
}

.ititle-serial{
	    width: 1.43rem;
	    height: 1.43rem;
	    // width: 20px;
	    // height: 20px;
	    background: #F73939;
	    line-height: 1.43rem;
	    // line-height: 20px;
	    text-align: center;
	    border-radius: 1rem;
	    display: inline-block;
	    font-weight: 700;
	    color: white;
	    // margin-right: 3px;
	    // margin-top: 3px;
	    overflow: hidden;
	    vertical-align:-2px;
	    font-size: 1rem;
}

.gift-content{
	width: 98%;
	padding-left: 1%;
	padding-right: 1%;
	padding-top: 2%;
	padding-bottom: 1.8%;
	font-size: 1rem;
	color: @font-color;
	line-height: 1.8rem;
	// line-height: 25px;
	    -webkit-margin-start: 0px;
	    -webkit-margin-end: 0px;
}

.gift-img{
	width: 98%;
	padding-left: 1%;
	padding-right: 1%;
	padding-bottom: 0.7rem;
}

.gift-info{
	padding-bottom: 2.14rem;
}

.gift-price{
	color: #f84e4e;
	line-height: 1rem;
	// line-height: 13px;
	font-size: 1.3rem;
	// font-size: 18px;
	font-weight: 400;
	vertical-align:-15px;
	margin-left: 0.7rem;
	// margin-left: 10px;
}

.gift-info-link{
	text-align: center;
	float: right;
	margin-right: 0.7rem;
	// margin-right: 10px;
	.span{
		display: table-cell;
		vertical-align: middle;
		color: #f7554d;
		font-size: 1rem;
		// font-size: 15px;
		width: 6.8rem;
		// width: 95px;
		border: solid thin #ff897d;
		border-radius: 2.3rem;
		// border-radius: 32px;
		// line-height: 32px;
		line-height: 2.3rem;
	}
}


.blank{
	padding-bottom: 10%;
}